#container {
	background: #efefef;
	width: 700px;
	margin: 0 auto;
	text-align: center;
}

#list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

#list .list-item {
	width: 200px;
	height: 200px;
	margin: 5px;
	line-height: 200px;
	background: #333;
	color: #fff;
}